<div class="container">
  <div class="crad p-4 m-4 shadow">
    <h2 class="mb-0 text-info-emphasis"><%= @user.first_name %></h2>
    <h3 class="text-secondary mt-0"><%= @user.last_name %></h3>
    <%= link_to "Edit my profile", edit_user_registration_path(@user) %>
    <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
</button> %>
    <div class="row">
      <div class="col">
        <h3>My mentorships</h3>
        <i class="fa-solid fa-pen"></i>
      </div>
      <div class="col">
        <div class="row">
          <div class="col ">
            <h3 class="my-3">My infos</h3>
          </div>
          <div class="d-flex mb-3 col align-items-end">
          <%= link_to edit_user_registration_path(@user) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          </div>

        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name:        <%= @user.first_name %></li>
          <li class="list-group-item">Sobrenome:   <%= @user.last_name %></li>
          <li class="list-group-item">Email:       <%= @user.email %></li>
          <li class="list-group-item">Phone:       <%= @user.phone %></li>
          <li class="list-group-item">Birthday:    <%= @user.birthday %></li>
          <li class="list-group-item">Adress:      <%= @user.address %></li>
          <li class="list-group-item">City:        <%= @user.city %></li>
        </ul>
      </div>
    </div>

  </div>
</div>
