<div class="navbar navbar-expand-sm navbar-lewagon bg-light">
  <div class="container my-1">
    <%= link_to mentorships_path, class: "navbar-brand" do %>
      <%= image_tag('mentormeetlogo.png', style: 'height: 50%; width: 50%;') %>
    <% end %>
    <%= form_with url: mentorships_path, method: :get, class: "d-flex border rounded-5 border border-primary" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control my-border-left",
      placeholder: "Search"
    %>
    <%= button_tag(type: "submit", class: "btn btn-default") do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div id="offerbutton" class="btn btn-outline-primary mx-5 rounded-4">
              <%= link_to "Offer your Mentorship", new_mentorship_path , class: "nav-link" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key , width: 40, height: 40, crop: :thumb, gravity: :face, class: "rounded-circle dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path , class: "dropdown-item" %>

              <%= link_to "Profile", user_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
