
<h1>mentorship index</h1>

<%= link_to "Add a new Mentorship", new_mentorship_path %>

<div>
  <div class="container m-5 d-flex align-items-center justify-content-center">
    <h1>mentorship index</h1>
  </div>

<div class="row">
      <% @mentorships.each do |m| %>
        <div class="card m-5 p-3 w-25 ">
          <h3> <%= link_to m.title, mentorship_path(m)%></h3>
          <p> <%= m.content%> </p>
        </div>
      <% end %>
</div>

<div class="container">
  <div class="row gap-3">

    <% @mentorships.each do |m| %>
      <div class="card-trip col-4">
        <img src="https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
          <div class="card-trip-infos">
            <div>
              <h2><%= m.title %></h2>
              <p><%= m.content %></p>
            </div>
              <h2 class="card-trip-pricing">£99.99</h2>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
    <% end %>
  </div>
</div>
