<div class="container p-5 d-flex justify-content-around">

  <div class="w-50 justify-content-center">
    <div class="p-2 ">
      <h1><%= @mentorship.title %></h1>
    </div>

    <div class="p-2">
      <p><strong>About this mentorship:</strong> <%= @mentorship.content %></p>
    </div>
  </div>

  <div class="w-30 justify-content-center border border-2 border-dark p-2 mb-2 rounded-4 border-opacity-75">
    <div class="card p-2">
      <img src="https://cinemaqui.com.br/wp-content/uploads/2015/01/whiplash-destaque.jpg" alt="foto do mentor" width="300">
      <p><strong>Mentor:</strong> <%= @mentorship.user.first_name + " " + @mentorship.user.last_name  %></p>
    </div>
    <div class="p-2 ">
      <p><strong>Where it will take place:</strong> <%= @mentorship.place %> </p>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @mentorship.title %></h1>
      <p class="text-secondary">A course by <%= @mentorship.user.first_name %><%= @mentorship.user.last_name %></p>
      <div class="px-4 py-2" style="background-color: #FBE5D6; border-radius: 5px">
        <span>Where: <%= @mentorship.place %></span>
        <p>just a text</p>
      </div>
      <div>
        <%= cl_image_tag @mentorship.photo.key, height: 300, width: 400, crop: :fill %>
      </div>
    </div>
    <div class="col-4 bg-secondary-subtle p-4 shadow">
      <h3>R$ 499</h3>
      <p>40% OFF</p>
      <button class="btn btn-primary"><%= link_to "Booking this mentor", new_mentorship_booking_path(@mentorship) , class: 'text-light text-decoration-none'%></button>
    </div>
  </div>
</div>
